{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}">
    <title>Homepage</title>
</head>
<body>
    <header id="title">
        <h1>DJANGO APPLICATIONS</h1>
    </header>

    <main id="main">
        <h2>List of Applications</h2>
        <ul>
            <li><a href="{% url 'polls:index' %}">Polls</a></li>
            <li><a>ToDo List</a></li>
        </ul>
    </main>
</body>
</html>