{% extends 'polls/_base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/details.css' %}">
        <title>Details of question number {{ question.id }}</title>
    {% endblock %}
{% block body %}
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="form">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <label for="choice{{ forloop.counter }}" class="form-label">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="input">
                {{ choice.choice_text }}
            </label><br>
        {% endfor %}
        <input type="submit" value="Vote" id="vote">
    </form>
{% endblock %}