{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/base.css' %}">
    {% block head %}{% endblock %}
    <title>Todo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1">ToDo</span>
        </div>
        {% if user.is_authenticated %}
            <span class="navbar-text">Welcome {{ user.username }}</span>
            <span class="navbar-text">
                <a href="{% url 'todo:logout' %}"><button class="btn btn-outline-success my-2 my-sm-0">Log out</button></a>
            </span>
        {% else %}
            <span class="navbar-text">
                <a href="{% url 'todo:login' %}"><button class="btn btn-outline-success my-2 my-sm-0">Log in</button></a>
            </span>
            <span class="navbar-text">
                <a href="{% url 'todo:registration' %}"><button class="btn btn-outline-success my-2 my-sm-0">Register</button></a>
            </span>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>